<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
	
		 <listener class-name="com.qa.Util.AllureReports" />
		<listener class-name="com.qa.Util.ExtentReportListener" />
		<listener class-name="com.qa.Util.TesultsListener" />
		<listener class-name="com.qa.Util.ScreenshotListener" />
		<listener class-name="com.qa.Util.pdfListener" />

	</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.Testcases.LoginTest"/>
      <class name="com.qa.Testcases.ContactsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
